* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-title {
    color: #C59C00;
    font-size: 18px;
    text-shadow:
        0px -1px 0px #FFF2C14D,
        0px 1px 0px #00000040;
}

.header-credits {
    color: #FFEDA6;
    font-size: 14px;
    background-image: linear-gradient(#DCB41C, #ECBF14);
    border-radius: 10px;
    height: 33px;
    width: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 1px 1px #7F650180;
    box-shadow:
        inset 0px 1px 2px 0px rgba(0, 0, 0, 0.25),
        inset 0px -1px 0px 0px #FFE580;
}

.top-bar {
    background-color: #FFDA4E;
    min-height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo-bar {
    background-image: linear-gradient(#FFF3C1, #FFCB05);
    height: 476px;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.results {
    flex: 1;
    margin-top: -80px;
    margin-bottom: 20px;
    z-index: 2;
    padding: 20px;
    min-width: 760px;
    min-height: 386px;
    margin-left: auto;
    margin-right: auto;
}

#pokemon-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.pokemon-card {
    background-color: #FFFFFF;
    max-width: 136px;
    max-height: 183px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 4px 16px 0px #0000001A,
        0px 2px 2px 0px #0000001A;
}


.pokemon-card h3 {
    text-transform: capitalize;
    font-size: 18px;
}

.id-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #3B5CA7;
    color: #FFFFFF;
    border-radius: 100;
    padding: 5px;
    font-size: 12px;
    margin-top: -35px;
}

.controls {
    height: 161px;
    background-color: #DFE4F0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10rem;
    gap: 10px;
}

.btn {
    height: 42px;
    border: 2px solid #3B5CA7;
    border-radius: 10px;
    background-image: linear-gradient(#7088BF, #3B5CA7);
    color: #DFE4F0;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}


/* ---------------------------------------
Responsive styles for mobile devices 
-----------------------------------------*/

@media screen and (max-width: 600px) {

    .hide-on-mobile {
        display: none;
    }

    #pokemon-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .results {
        min-width: 0;
        min-height: 0;
        width: 292px;
        margin-top: -150px;
        margin-bottom: 20px;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .header-credits {
        display: none;
    }

    .top-bar {
        justify-content: flex-start;
        padding-left: 1rem;
    }

    .controls {
        position: sticky;
        bottom: 0;
        z-index: 3;
        padding-right: 1rem;
        height: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .logo-container img {
        width: 80%;
        height: auto;
        margin-top: -90px;
    }

}