* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.header-title {
    color: #C59C00;
    background-color: #FFDA4E;
    font-size: 18px;
    text-shadow:
        0px -1px 0px #FFF2C14D,
        0px 1px 0px #00000040;
}

.header-credits {
    color: #FFEDA6;
    font-size: 14px;
    background-image: linear-gradient(#DCB41C, #ECBF14);
    border-radius: 10px;
    height: 33px;
    width: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 1px 1px #7F650180;
    box-shadow:
        inset 0px 1px 2px 0px rgba(0, 0, 0, 0.25),
        inset 0px -1px 0px 0px #FFE580;
}

.top-bar {
    background-color: #FFDA4E;
    min-height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo-bar {
    background-image: linear-gradient(#FFF3C1, #FFCB05);
    height: 476px;

    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.results {
    flex: 1;
    border: solid 2px #3B5CA7;
    border-radius: 10px;
}

.controls {
    height: 161px;
    background-color: #DFE4F0;
    display: flex;
    justify-content: end;
    align-items: center;


}

.btn {
    height: 42px;
    border: 2px solid #3B5CA7;
    border-radius: 10px;
    background-image: linear-gradient(#7088BF, #3B5CA7);
    color: #DFE4F0;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;

}